body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.test {
    background-color: rgb(73, 73, 73);
    background: rgba(73, 73, 73, 0.5);

}

.container {
    margin: 0px 166px;
}

.header {
    background-image: 
    url(../images/headimage.jpg);
    height: 100vh;
    background-size: cover;
}

.headmenu {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-item {
    color: aliceblue;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    margin-right: 25px;
    transition: background-color 0.3s linear;
}

.nav-item:hover {
    background-color: rgb(134, 114, 114);
    padding: 10px 0px;
}

.knopka {
    background-color: rgb(212, 145, 19);
    color: aliceblue;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    font-weight: 500;
    padding: 14px 18px;
}

.cart-img {
    height: 36px;
}