body {
    font-family: 'Courier New', Courier, monospace;
}

header {
    text-align: center;
    padding-top: 25px;
}

.mac {
    width: 1200px;
}



.namemenu {
    display: inline-block;
    background-color: aqua;

}
