body {
    font-family: 'Courier New', Courier, monospace;
}

header {
    text-align: center;
    padding-top: 25px;
}

.mac {
    width: 1200px;
}

.ul {
    border: 5px;
}

.namemenu {
    font-size: large;
    display: inline-block;
    border: 5px;
}
